.button{
  background-image: linear-gradient(to bottom, #1f1317 0%, #330c1b 100%);
    color: #fff;
    border: none;
    border-radius: 10px;
    padding: 6px 30px;
    cursor: pointer;
}
.button-reg{
  background-image: linear-gradient(to bottom, rgb(0, 153, 255) 0%, #330c1b 100%);
    color: #fff;
    border: none;
    border-radius: 10px;
    padding: 6px 30px;
    cursor: pointer;
}
.text-brand{
  color: #7AB259;
}
